<%- include("../partials/header") %>

<h1>Anime Details</h1>

<h2><%= anime.name %></h2>

<img src="<%= anime.image %>" alt="<%= anime.name %>'s Thumbnail">

<p><%= anime.description %></p>

<p><a class="btn btn-success" href="/anilist/<%= anime._id %>/comments/new">Add Comment</a></p>

<% anime.comments.forEach((comment) => { %>
    <p><strong><%= comment.author %></strong> - <%= comment.text %></p>
<% });%>

<%- include("../partials/footer") %>