<%- include("partials/header") %>

<h1>Anime Details</h1>

<h2><%= anime.name %></h2>

<img src="<%= anime.image %>" alt="<%= anime.name %>'s Thumbnail">

<p><%= anime.description %></p>

<%- include("partials/footer") %>